* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html {
    overflow-x: clip;
}

.websiteExample {
    height: 700px;
    width: min(100%, 600px);
    margin: 5px 0;
    transition: transform ease-in-out 1s, scale ease-in-out 0.1s;
    transform: translateX(-100vw) rotate(90deg);
}

.websiteExample iframe {
    pointer-events: none;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #777777;
}

.websiteExample:hover {
    scale: 1.01;
}

.websiteExampleFull {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.9s ease; /* Ensure smooth transition for transform and opacity */
    scale: 0;
    z-index: 1000;
}

.websiteExampleFull iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#websites {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 0 20px;
}

#websiteUnFocus {
    width: 100px;
    height: 100px;
    opacity: 0.7;
    position: fixed;
    left: 28px;
    top: 0;
    transform: translateX(-200px);
    transition: transform ease-in-out 0.3s;
    z-index: 100000;
    scale: 0.5;
}

#websiteUnFocus:hover {
    cursor: pointer;
}

#websiteUnFocus div {
    width: 10px;
    height: 100px;
    border-radius: 5px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-weight: normal;
}

.title {
    letter-spacing: 5px;
    margin: 50px 10px;
}

#header {
    background: linear-gradient(135deg, #5D3FD3, #9C27B0);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 10px;
}

#about {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #8f8f8f;
    margin: 0 50px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all ease-in-out 1s;
}

#order {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #8f8f8f;
    margin: 0 50px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all ease-in-out 1s;
}

#order button {
    padding: 12px 36px;
    background-color: #9C27B0;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    width: 90%;
    text-align: center;
}

#order button:hover {
    background-color: #5D3FD3;
}

#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #8f8f8f;
    margin: 0 50px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all ease-in-out 1s;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 15px;
    border-style: solid;
    border-color: #9C27B0;
    border-radius: 30px;
    border-width: 3px;
    overflow: auto;
    font-size: 19px;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 15px;
    border-style: solid;
    border-color: #9C27B0;
    border-radius: 30px;
    border-width: 3px;
    overflow: auto;
    font-size: 19px;
}

textarea::placeholder {
    font-size: 19px;
}

label {
    transition: all ease-in-out 0.2s;
    transform: translateY(-80px);
    margin-left: 15px;
    padding: 0 5px;
    border-radius: 3px;
    align-self: start;
    background: white;
    z-index: 10;
    color: #757575;
    font-size: 13px;
}

input:placeholder-shown + label {
    transform: translateY(-53px);
    font-size: 19px;
}

input[type="submit"] {
    padding: 12px 36px;
    background-color: #9C27B0;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    width: 90%;
    text-align: center;
}

.hero-btn {
    padding: 12px 36px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 15px 0;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #9C27B0;
}
